
.carousel-inner{
    height: 600px;
    width: 100%;
}

#img{
    width: 100rem;
}

.card-title{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: black;

}
.card-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
}
.card{

    margin-bottom: 20px;
}
.footer {
    background-color: lightgrey;
    padding: 15px 20px;
    text-align: center;
  }

#sec{
    background-color: floralwhite;
}

.hidden{
    display: none;
}

body{
    background-image: url(../img/background.jpg);
    font-family: 'Times New Roman', Times, serif;
}
